/* Style appliqué sur tout le site*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/* Style pour footer */
footer {
    background-color: #ede3da;
    padding: 8px;
}

.entete {
    background-color: #ede3da;
    border-style: solid;
    border-color: #cccccc;
    border-width: thin;
    padding: 10%;
    margin: 2%;
    font-size: .8em;
    color: black;
}

/* Style pour navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ede3da;
}

.navbar img {
    width: 20%;
}
  
.navbar ul {
    display: flex;
    list-style: none;
}
  
.navbar ul li {
    margin-left: 1rem;
}
  
.navbar ul li:first-child {
    margin-left: 0;
}
  
.navbar a {
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    padding: 2%;
    border-radius: 6px;
}

.navbar a:hover {
    background-color: #5c4d48;
    color: #cccccc;
}
  
/* Style pour les forms */
.search, .form-ajax, .form-api-post-inspection {
    padding: 2% ;
    margin: 1rem;
}

.forms {
    margin-top: 5%;
}
  
.search input[type="text"]{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    padding: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-ajax input[type=date]
, .form-api-post-inspection input[type=text]
, .form-api-post-inspection input[type=date]
, textarea {
    width: 98%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 2%;
    resize: vertical;
}

button[type=submit] {
    background-color: #ede3da;
    color: black;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* Style for the CSV data */
.confirmation {
    display: compact;
    padding: 6%;
}

table {
    margin: 1rem;
    border-collapse: collapse;
    width: 95%;
}
  
th, td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #ccc;
}
  
th {
    background-color: #5c4d48;
    color: #fff;
    width: 25%;
}

/* Style pour liste d'anchor list*/
.anchor {
    display: flex;
    justify-content: center;
}

.anchor ul {
  list-style-type: none;
}

.anchor li {
  display: inline-block;
  margin-right: 20px;
}

.anchor a {
  color: #333;
  text-decoration: none;
}

.anchor a:hover {
  text-decoration: underline;
}