{% extends "layout.html"%}
{% block content %}
    <div class="anchor">
        <ul>
            <li><a href="#searchbar">Recherche par mot</a></li>
            <li><a href="#searchbydate">Recherche par date</a></li>
            <li><a href="#formplainte">Demande d'inspection</a></li>
        </ul>
    </div>
    <div class="search" id="searchbar">
        <h2>Vous cherchez une contravention en particulier?</h2>
        <br>
        <p>Il est possible de faire une recherche avec le nom de l'établissement, le nom du propriétaire ou l'adresse.</p>
        <br>
        <div class="forms">
            <form method="get" name="search" action="/recherche-etablissement" class="recherche">
                <input type="text" name="etablissement" class="recherche" placeholder="Rechercher par nom d'établissement">
            </form>

            <form method="get" name="search" action="/recherche-proprietaire" class="recherche">
                <input type="text" name="proprietaire" class="recherche" placeholder="Rechercher par nom du propriétaire">
            </form>

            <form method="get" name="search" action="/recherche-adresse" class="recherche">
                <input type="text" name="adresse" class="recherche" placeholder="Rechercher par adresse">
            </form>
        </div>
    </div>

    <div class="form-ajax" id="searchbydate">
        <h2>Pour une recherche sous forme de date</h2>
        <br>
            <form method="get" name="search-by-date" action="/api/contrevenants" class="recherche">
                <label for="du">Du:</label>
                <br>
                <input type="date" id="du" name="du" required>
                <br>
                <label for="au">Au:</label>
                <br>
                <input type="date" id="au" name="au" required>
                <br>
                <button type="submit">Soumettre</button>
            </form>

        <table id="contrevenants-table" class="table">
        </table>
    </div>

    <div class="form-api-post-inspection" id="formplainte">
        <h2>Pour faire une demande d'inspection pour un restaurant en particulier</h2>
        <br>
        <form id="formulaire-plainte" method="post" onsubmit="return submitFormPlainte()">
            <label for="etablissement">Restaurant:</label>
            <br>
            <input type="text" id="etablissement" name="etablissement" required><br>

            <label for="adresse">Adresse:</label>
            <br>
            <input type="text" id="adresse" name="adresse" required><br>

            <label for="ville">Ville:</label>
            <br>
            <input type="text" id="ville" name="ville" required><br>

            <label for="date-visite">Date de la visite:</label>
            <br>
            <input type="date" id="date-visite" name="date-visite" required><br>

            <label for="nom-user">Votre nom:</label>
            <br>
            <input type="text" id="nom-user" name="nom-user" required><br>

            <label for="prenom-user">Votre prénom:</label>
            <br>
            <input type="text" id="prenom-user" name="prenom-user" required><br>

            <label for="description-problem">Problem Description:</label>
            <br>
            <textarea id="description-problem" name="description-problem" required></textarea><br>

            <button type="submit">Soumettre</button>
        </form>
    </div>

{% endblock %}