{% extends "layout.html"%}
{% block content%}
    <div class="search">
        <h2>Vous cherchez une contravention en particulier?</h2>
        <br>
        <p>Il est possible de faire une recherche avec le nom de l'établissement, le nom du propriétaire ou l'adresse.</p>
        <br>
        <div class="forms">
            <form method="get" name="search" action="/recherche-etablissement" class="recherche">
                <input type="text" name="etablissement" class="recherche" placeholder="Rechercher par nom d'établissement">
            </form>

            <form method="get" name="search" action="/recherche-proprietaire" class="recherche">
                <input type="text" name="proprietaire" class="recherche" placeholder="Rechercher par nom du propriétaire">
            </form>

            <form method="get" name="search" action="/recherche-adresse" class="recherche">
                <input type="text" name="adresse" class="recherche" placeholder="Rechercher par adresse">
            </form>
        </div>

        <div class="form-ajax">
            Pour une recherche sous forme de date
            <form method="get" name="search-by-date" action="/api/contrevenants" class="recherche">
                <label for="du">Du</label>
                <br>
                <input type="date" id="du" name="du" required>
                <br>
                <label for="au">Au</label>
                <br>
                <input type="date" id="au" name="au" required>
                <br>
                <input type="submit" value="Soumettre">
            </form>
        </div>

        <table id="contrevenants-table" class="table">
        </table>

    </div>
{% endblock %}