<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LilzFleur - Organisateur de données ouvertes de la ville de Montréal</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="img/data-lilzfleur-website-favicon-color.png">
</head>
<body>
<header>
    <nav>
        <img src="/img/logo-no-background.png" alt="Logo indiquant le nom de la compagnie data-lilzfleur">
        <a href="/">Accueil</a>
    </nav>
    <div class="entete">
        <h1>LilzFleur - Organisateur de données ouvertes de la ville de Montréal</h1>
    </div>
</header>

<div class="container-fluid">

    {% block content %}{% endblock %}

</div>

<footer>
    Site crée par Lilya Benladjreb - Mars 2023
</footer>
<script src="js/script.js"></script>
</body>
</html>