<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LilzFleur - Organisateur de données ouvertes de la ville de Montréal</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="img/data-lilzfleur-website-favicon-color.png">
</head>
<body>
<header>
    <div class="logo">
        <img src="img/logo-no-background.png" alt="Logo indiquant le nom de la compagnie data-lilzfleur">
    </div>
    <div class="entete">
        <h1>LilzFleur - Organisateur de données ouverte de la ville de Montréal</h1>
        <h2>Pour comprendre les données facilement!</h2>
    </div>
    <div class="navbar">
        <form method="get" name="search" action="/recherche" class="recherche">
            <input type="text" name="query" class="recherche" placeholder="Rechercher">
        </form>
        <a href="/">Accueil</a>
    </div>
</header>

<div class="container-fluid">

    {% block content %}{% endblock %}

</div>

<footer>
    Site crée par Lilya Benladjreb - Mars 2023
</footer>
<script src="js/script.js"></script>
</body>
</html>